[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
lxml = "*"
joblib = "*"
tqdm = "*"
s3fs = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
